.App {
  background-color: brown;
  height: 100vh;
  background: rgb(157,26,26);
  background: rgb(157,26,26);
  background: radial-gradient(
    circle, 
  rgba(157,26,26,1) 0%, 
  rgba(143,40,28,1) 48%, 
  rgba(168,48,24,1) 64%, 
  rgba(210,61,27,1) 100%);
}