/* Reset del navegador */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Color */
:root {
    --white: #fafafb;
    --purple: #9a67ea;
    --blue-light: #04d4c3;
    --blue-dark: #2a73c2;
    --green: #2c7b90;
}

/* Google Fonts */
body {
    font-family: 'Righteous', cursive;

    /* Color */
    background: linear-gradient(to bottom,var(--purple), var(--blue-light));
    height: 100vh;
}